body {
    background: url("./chess-pattern.png");
    background-position:center;
    background-size: cover;
    
}

footer{
    text-align: center;
    color: #453953;
    font-weight: bold;
}

a{
    color: #b84a39;
}