.Dictionary section {
    background:#321313;
    border-radius: 8px;
    padding: 25px;
    margin: 10px 0;
    margin-left: 150px;
    margin-right: 150px;
   
    
}

h1{
    text-align: center;
    color: #fdffcd;
}
h2{
    color: #fdffcd;
}

 input{
     
    padding: 17px 7px;
    width: 40%;
    height: 15px;
}

p{
    color: #fdba9a;
}